<div class="container">
    <div class="jumbotron" id="jumbo">
        <h1>Eat da Burger!</h1>
        <img src="/assets/burgerimg.jpg" alt="Burger" width="140px" class="center">
        <h2>Make your own burger to devour!</h2>
    </div>

    <panel>
        <form class="create-form">
            <div class="form-group">
                <label for="newburger">Create a burger</label>
                <input type="text" id="newBurger" name="burger">
                <button type="submit" class="btn btn-success" id="addBurger">Submit</button>
            </div>
        </form>
    </panel>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="leftside"><strong>Order a burger</strong></div>
            <div class="panel-body">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="devour-burger btn btn-warning" id="eatbtn" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span>Order!</button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="rightsd"><strong>Devour!</strong></div>
            <div class="panel-body">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="delete-burger btn btn-danger" id="deletebtn"
                            data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-hand-spock-o"></span>
                            Eat da burger!</button>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>